<h1>Lista Wszystkich Ofert</h1>

<table>
  <tr>
    <th>Obrazek  </th>
    <th>Nazwa    </th>
    <th>Cena     </th>
    <th>Email Sprzedawcy</th>
    
  </tr>

<% @ads.each do |ad| %>
  <tr>
    <td><img src="<%= ad.img_url %>" alt="" /></td>
    <td><%= ad.name %></td>
    <td><%= ad.price %> zł</td>
    <td><%= ad.email %></td>

    <td><%= link_to 'Pokaż', ad %></td>
    

	<% if current_user %>
		 <td><%= link_to 'Edytuj', edit_ad_path(ad) %></td>
   		 <td><%= link_to 'Usuń', ad, confirm: 'Czy napewno chcesz usunac oferte ?', method: :delete %></td>
	</tr>
	<% end %>
  </tr>
<% end %>
</table>


